@model Vidly.ViewModels.IndexMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead>Movies</thead>
    <tbody>
        <tr>
            <td>@Model.Movies[0].Name</td>
        </tr>
        <tr>
            <td>@Model.Movies[1].Name</td>
        </tr>
    </tbody>
</table>