@model Vidly.ViewModels.IndexMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead class="font-weight-bold">
    <tr>
        <td> Movies</td>
        <td> Genre </td>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in @Model.Movies)
    {
        <tr>
            <td>@movie.Name</td>
            <td>@movie.Genre</td>
        </tr>
    }
    </tbody>
</table>