@model Vidly.ViewModels.IndexCustomerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead class="font-weight-bold" style="font-size:20px">
    <tr>
        <td>Customers</td>
        <td>Membership Type</td>
    </tr>
    
    </thead>
    <tbody>
        @foreach(var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new {id = customer.Id}, null)</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>